body{
    background-color: rgba(155, 108, 108, 0.425);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
a:link, a:visited{
    color: blue;
    text-decoration: none;
}
a:hover, a:active{
    color: rgb(45, 185, 32);
    background-color: rgb(33, 17, 179);
}
li {list-style-type: none;}
.icones-sociais a {
    width: 64px;
    height: 64px;
    display: inline-block;
    text-indent: -99999px;
}
#github{
    background-image: url("imagens/github.png");
}
#insta{
    background-image: url("imagens/instagram.png");
}
