body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    
}

div{
background-color: white;
   background-image: url(fundo-f1.jpg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center;
}
.container{
    width: 800px;
    height: 800px;
    margin: auto;
    color: aliceblue;
}

.cabeca{
    background-image: url(titulo-f1.jpg);
    width: 800px;
    height: 200px;
}
h4{
    background-image: url(bandeira1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    padding: 1.em;
}