body{
    font-family: Arial, Helvetica, sans-serif;
}
table, th, tr, td{
    border: #000 solid 1px;
    border-collapse: collapse;
}
.linha_tab3, .linha_tab4, .cols_tab4{
    text-align: center;
}